<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE-edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ByteBurguer</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="stylesheet" href="css/home.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
</head>

<body>
  <header>
    <a href="#" class="logo"><i class="fas fa-utensils"></i>ByteBurguer</a>

    <nav class="navbar">
      <a class="active" href="#home">Início</a>
      <a href="#dishes">Especialidades</a>
      <a href="#about">Sobre</a>
      <a href="#menu">Cardápio</a>
      <a href="#review">Feedbacks</a>
      <a href="#order">Contato</a>
    </nav>

    <div class="icons">
      <i class="fas fa-bars" id="menu-bars"></i>
      <i class="fas fa-search" id="search-icon"></i>
      <a class="fas fa-heart"></a>
      <a class="fas fa-shopping-cart" href="/carrinho"></a>
    </div>
  </header>

  <form action="" id="search-form">
    <input type="search" name="" id="search-box" />
    <label for="search-box" class="fas fa-search"></label>
    <i class="fas fa-times" id="close"></i>
  </form>

  <section class="home" id="home">
    <div class="swiper-container home-slider">
      <div class="swiper-wrapper wrapper">
        <div class="swiper-slide slide">
          <div class="content">
            <span>Hambúrgueres </span>
            <h3>Artesanais</h3>
            <p>
              Hambúrguer preparado artesanalmente, com carnes selecionadas e
              uma combinação surpreedente de temperos e especiarias.
            </p>
            <a href="#menu" class="btn">Peça já!</a>
          </div>
          <div class="image">
            <img src="assets/combo.png" alt="Hambúrguer e fritas" />
          </div>
        </div>
        <div class="swiper-slide slide">
          <div class="content">
            <span>Porções Supremas</span>
            <h3>Com muuuito bacon</h3>
            <p>
              Nossas batatas cuidadosamente selecionadas são preparadas com
              perfeição, resultando em uma textura incrivelmente crocante por
              fora e macia por dentro.
            </p>
            <a href="#menu" class="btn">Peça já!</a>
          </div>
          <div class="image">
            <img src="assets/banner.png" alt="Batata frita" />
          </div>
        </div>
        <div class="swiper-slide slide">
          <div class="content">
            <span>Drinks Especiais</span>
            <h3>Stone Ligth</h3>
            <p>
              Todos os drinks são produzidos com ingredientes naturais de alta
              qualidade para te proporcionar uma experiência única e saborosa!
            </p>
            <a href="#menu" class="btn">Peça já!</a>
          </div>
          <div class="image">
            <img src="assets/drinks-removebg-preview.png" alt="Drinks diversos" />
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </section>

  <section class="dishes" id="dishes">
    <h3 class="sub-heading">ByteBurguer</h3>
    <h1 class="heading">Especialidades</h1>

    <div class="box-container">
      <div class="box">
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-eye"></a>
        <img src="assets/img1.jpg" alt="" />
        <h3>Porções</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <span></span>
        <a href="#porção" class="btn">Confira</a>
      </div>

      <div class="box">
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-eye"></a>
        <img src="assets/img2.jpg" alt="" />
        <h3>Burger Clássico</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <span></span>
        <a href="#hamburguer" class="btn">Confira</a>
      </div>
      <div class="box">
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-eye"></a>
        <img src="assets/img5.jpg" alt="" />
        <h3>Burger Especial</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <span></span>
        <a href="#hamburguer" class="btn">Confira</a>
      </div>

      <div class="box">
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-eye"></a>
        <img src="assets/bebidas.jpg" alt="Drink Stone Light" />
        <h3>Drinks</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <span></span>
        <a href="#bebida" class="btn">Confira</a>
      </div>
    </div>
  </section>

  <section class="about" id="about">
    <h3 class="sub-heading">SOBRE</h3>
    <h1 class="heading">Por que escolher o ByteBurguer?</h1>

    <div class="row">
      <div class="image">
        <img src="assets/combo.png" alt="Logo" />
      </div>

      <div class="content">
        <h3>MELHOR HAMBÚRGUER DA CIDADE</h3>
        <p>
          O HAMBÚRGUER PERFEITO!!!<br />
          Apresentamos o nosso Hambúrguer Artesanal! Uma experiência
          gastronômica que vai encantar seu paladar.<br />
          O preparo de cada hambúrguer é realizado manualmente, com carnes
          selecionadas e frescas.<br />
          Uma deliciosa combinação de temperos e especiarias, com ingredientes
          de qualidade. <br />
          O resultado? Um hambúrguer suculento, com sabor inigualável e uma
          explosão de sabores em cada mordida.
        </p>

        <div class="icons-container">
          <div class="icons">
            <i class="fas fa-shipping-fast"></i>
            <span>Entrega grátis</span>
          </div>
          <div class="icons">
            <i class="fas fa-dollar-sign"></i>
            <span>Diversas Formas de Pagamento</span>
          </div>
          <div class="icons">
            <i class="fas fa-headset"></i>
            <span>Atendimento Personalizado</span>
          </div>
        </div>
        <a href="#order" class="btn">Saiba mais!</a>
      </div>
    </div>
  </section>

  <section class="menu" id="menu">
    <h3 class="sub-heading">Cardápio</h3>
    <% tipos.forEach(tipo => { %>
      <% 
      // Verifica se há produtos para o tipo atual
      const produtosDoTipo = produtos.filter(produto => produto.id_tipo === tipo.id_tipos_produto); 
      if (produtosDoTipo.length > 0) { 
      %>
        <h1 class="heading" id="porção"><%= tipo.tipo_produto %></h1>
        <div class="box-container">
          <% produtosDoTipo.forEach(produto => { %>
            <form id="signup" action="/insere_carrinho" method="post">
              <div class="box">
                <div class="product_img">
                  <img src="<%= produto.link_imagem %>" alt="<%= produto.nome %>">
                  <a href="#" class="fas fa-heart"></a>
                </div>
                <div class="content">
                  <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                  </div>
                  <h3><%= produto.nome %></h3>
                  <p><%= produto.descricao %></p>
                  <input type="hidden" name="id_produto" value="<%= produto.id_produto %>">
                  <input type="submit" class='btn' value="REALIZAR PEDIDO">
                  <span class="price">R$<%= produto.valor %></span>
                </div>
              </div>
          </form>
          <% }); %>
        </div>
      <% } %>
    <% }); %>
</section>


  <section class="review" id="review">
    <h3 class="sub-heading">Feedbacks</h3>
    <h1 class="heading">Nossos clientes</h1>

    <div class="swiper-container review-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide slide">
          <i class="fas fa-quote-right"></i>
          <div class="user">
            <img src="../assets/sapo1.jpg" alt="" />
            <div class="user-info">
              <h3>Anônimo 1</h3>
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
            </div>
          </div>
          <p>
            O lanche é delicioso. Hamburger suculento no ponto certo, o pão é
            artesanal e com fermentação lenta, o que deixa ele extremamente
            leve (sim eles explicam tudo isso pra você). A batata também é uma
            delícia, e a maionese é ainda melhor. Tudo isso por um preço
            ótimo. Com certeza me tornei um cliente fixo.
          </p>
        </div>

        <div class="swiper-slide slide">
          <i class="fas fa-quote-right"></i>
          <div class="user">
            <img src="assets/sapo2.jpg" alt="" />
            <div class="user-info">
              <h3>Anônimo 2</h3>
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
            </div>
          </div>
          <p>
            Um cardápio bem interessante de lanches com misturas bem gourmet.
            O que tem abacate é uma delicia, meu preferido. Porção de fritas
            com alho, um pouco de exagero no alho mas uma delicia.
          </p>
        </div>

        <div class="swiper-slide slide">
          <i class="fas fa-quote-right"></i>
          <div class="user">
            <img src="assets/sapo3.jpg" alt="" />
            <div class="user-info">
              <h3>Anônimo 3</h3>
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
            </div>
          </div>
          <p>
            Os lanches sāo muito bem servidos, com o cuidado de preservar a
            salada, e batatas com molho de maionese incrível, além da opção de
            usar luvas e não sujar as mãos, tudo a um preço justo. Sem falar
            dos nomes das opções, que são um atrativo a mais.
          </p>
        </div>

        <div class="swiper-slide slide">
          <i class="fas fa-quote-right"></i>
          <div class="user">
            <img src="assets/sapo4.jpg" alt="" />
            <div class="user-info">
              <h3>Anônimo 4</h3>
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
            </div>
          </div>
          <p>
            Os sanduíches são ótimos. Bem equilibrados, suaves e vão muito bem
            com refrigerante ou cerveja artesanal. Chegaram bem rápido.
            Detalhe para as luvinhas para não sujar as mãos ao comer.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="order" id="order">
    <h3 class="sub-heading">ByteBurguer</h3>
    <h1 class="heading">Entre em contato</h1>

    <form action="">
      <div class="inputBox">
        <div class="input">
          <span>Nome</span>
          <input type="text" placeholder="Informe seu nome" required />
        </div>
        <div class="input">
          <span>Telefone</span>
          <input type="text" pattern="\\d{2,3}\ \d{9}" placeholder="Informe seu número" required />
        </div>
      </div>
      <div class="inputBox">
        <div class="input">
          <span>Comentário</span>
          <textarea name="" placeholder="Deixe um comentário" id="" cols="30" rows="10"></textarea>
        </div>
      </div>
      <input type="submit" value="ENVIAR COMENTÁRIO" class="btn" />
    </form>
  </section>

  <footer>
    <div class="box-container">
      <div class="box">
        <h3>Links</h3>
        <a href="#home">Início</a>
        <a href="#dishes">Hamburgueres</a>
        <a href="#about">Sobre</a>
        <a href="#menu">Cardápio</a>
        <a href="#review">Feedbacks</a>
        <a href="#order">Pedido</a>
      </div>

      <div class="box">
        <h3>Localidades</h3>
        <a>Jeceaba - MG</a>
        <a>Congonhas - MG</a>
        <a>Ouro Branco - MG</a>
        <a>Conselheiro Lafaiete - MG</a>
      </div>

      <div class="box">
        <h3>Contato</h3>
        <a>+55 12 3456 7890</a>
        <a>byteburguer@gmail.com</a>
      </div>

      <div class="box">
        <h3>Contato</h3>
        <a>Whatsapp</a>
        <a>Instagram</a>
        <a>Cardápio Digital</a>
      </div>
    </div>
    <div class="credit">
      Copyright © 2023 by <span>Grupo ByteBurguer</span> | All Rights Reserved.
    </div>
  </footer>

  <div class="loader-container">
    <img src="assets/Food-Loader-GIF.gif" alt="" />
  </div>

  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
  <script src="javascripts/home.js"></script>
</body>

</html>